header {
    padding: 10px;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(100,80,50,0.35)), color-stop(100%, rgba(0,0,0,0)));
    background:-webkit-linear-gradient(top, rgba(100,80,50,0.35) 0%, rgba(0,0,0,0) 100%);
    background:   -moz-linear-gradient(top, rgba(100,80,50,0.35) 0%, rgba(0,0,0,0) 100%);
    background:    -ms-linear-gradient(top, rgba(100,80,50,0.35) 0%, rgba(0,0,0,0) 100%);
    background:     -o-linear-gradient(top, rgba(100,80,50,0.35) 0%, rgba(0,0,0,0) 100%);
    background:        linear-gradient(to bottom, rgba(100,80,50,0.35) 0%, rgba(0,0,0,0) 100%);
  }

.menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.mapequation-logo {
	padding-top: 6px;
	width: 57px;
	height: 57px;
}

.brand {
	font-family: Philosopher;
	font-weight: 700;
	/*font-size: 24px;*/
}

.brand .logo-icon {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-size: 100%;
    /*-webkit-filter: drop-shadow(1px 1px 0px white);*/
}

.brand-infomap {
    color: #555;
}

.brand-nn {
    color: #B22222;
}

.content {
    padding-left: 10px;
}

.documentation {
    text-shadow: rgba(255, 255, 255, 0.746094) 0 1px 0;
}
/*
.documentation .ui.header {
    font-weight:300;
    color:#128BC2;
}
*/
.documentation .row {
    margin: 10px 0;
}
